@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
}

:root {
	--clr-light-gray: #d6e2f0;
	--clr-grayish-blue: #7b879d;
	--clr-dark-blue: #1f3251;
}

$mediaMinWidth_desktop: 768px;

body {
	font-family: 'Outfit', sans-serif;
	background: var(--clr-light-gray);
}

.container {
	position: relative;
	width: 100%;
	width: 235px;
	margin-inline: auto;
}


header {
	font-weight: bold;
}

main {
	height: calc(100vh - 4rem);
	display: grid;
	align-content: center;
}


.card {
	display: grid;
	gap: 0.8rem;
	background: #fff;
	padding: 1em;
	border-radius: 0.5em;
	text-align: center;

	img {
		border-radius: 0.5em;
	}

	p {
		line-height: 1.2;
		color: var(--clr-grayish-blue);
		font-size: 0.65rem;
		padding-inline: 1.3em;
	}
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 0.8rem;
	background: #fff;
	padding: 1.3rem;
	text-align: center;

	a {
		color: blue;

		&:hover {
			text-decoration: underline;
		}
	}
}